* {
    box-sizing: border-box;
}

.navbar-brand img {
    margin-left: 40px;
    width: 150px;
}

.nav-link {
    font-family: 'Poppins';
    font-style: italic;
    margin-left: 50px;
}

.imagedeck {
    width: 500px;
    height: 500px;
}

.row {
    margin: 20px;
}

.gallery-title {
    font-family: 'Poppins';
    font-style: italic;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 20px;
}

.gallery-paragraph {
    font-family: 'Poppins';
    font-style: italic;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 20px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.hero-img img {
    border-radius: 20px;
}

.d-grid .btn {
    background-color: rgb(71, 67, 67);
    border: none;
}

.contact-title h3 {
    font-family: 'Poppins';
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.metitle {
    font-family: 'Poppins';
    font-weight: lighter;
    text-align: center;
}


.aboutmetext {
    width: 100%;
    font-family: 'Poppins';
    font-weight: lighter;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
    list-style-position: inside;
}


.imageme {
    display: block;
    margin: auto;
    border-radius: 15px;
}

.homepageimg {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
}

.clearfix {
    width: 100%;
    max-width: 50%;
    margin: auto;
}

.gallerylinks a {
    list-style: none;
    text-decoration: none;
    color: #474647;
}

em {
	color: #232027;
}

.wrapper {
	width: 70%;
	margin: auto;
    height: 80vh;
    margin-bottom: 80px;
}

div.gallerymain {
	margin-top: 30px;
}

div.gallery ul {
	list-style-type: none;
	margin-left: 35px;
}

/* animation */
div.gallery ul li, div.gallery li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.gallery ul li {
	position: relative;
	float: left;
	width: 200px;
	height: 200px;
	margin: 30px;
	padding: 10px;
	z-index: 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
	z-index: 5;
}

/* Image is position nicely under li */
div.gallery ul li img {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #dddddd;
    border-radius: 10px;
	padding: 5px;
	width: 200px;
	height: 200px;
	background: #696666;
}

div.gallery ul li img:hover {
	width: 300px;
	height: 300px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}


/* Responsive hack */
@media only screen and (min-width: 499px) and (max-width: 1212px) {
	.wrapper {
		width: 500px;
	}
    div.gallery ul {
		list-style-type: none;
		margin: 0;
	}
    div.gallery ul li img {
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #dddddd;
        padding: 5px;
        width: 110px;
        height: 110px;
        background: #696666;
    }
    div.gallery ul li img:hover {
        float: none;
        
        
    }
    div.gallery ul li {
        position: relative;
        float: left;
        width: 100px;
        height: 100px;
        margin: 10px;
        padding: 10px;
        z-index: 0;
    }
}

@media only screen and (max-width: 498px) {
	.wrapper {
		width: 300px;
	}

	div.gallery ul {
		list-style-type: none;
		margin: 0;
	}
    div.gallery ul li img {
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #dddddd;
        padding: 5px;
        width: 100px;
        height: 100px;
        background: #696666;
    }
    
    div.gallery ul li img:hover {
        width: 150px;
        height: 150px;
        margin-top: -130px;
        margin-left: -130px;
        top: 65%;
        left: 65%;
    }
}


.container2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    position: relative;
  
    .box {
      width: 0%;
      height: 620px;
      background: #FFF;
      position: absolute;
      animation: openBox 1s cubic-bezier(.74, .06, .4, .92) forwards;
  
      .product__img {
        width: 600px;
        position: absolute;
        left: -150px;
        top: 50px;
        opacity: 0;
        animation: fadeImg 1s ease-in-out forwards;
        animation-delay: 1s;
      }

      .product__img img {
          width: 500px;
      }
  
  
  
          p {
            margin-left: 25px;
               font-family: 'Poppins';
  
          }
        }
      }
  
      .product__disc {
        width: 0px;
        height: 430px;
        background: #696968;
        color: #dddddd;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0px;
        top: 50px;
        animation: showDisc 1s cubic-bezier(.74, .06, .4, .92) forwards;
  
        .product__disc--content {
          width: 80%;
          height: 80%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          animation: fadeContent 1s ease-in-out forwards;
          animation-delay: 1s;
          opacity: 0;
  
          .disc__content--about {
            width: 100%;
  
            h1 {
              font-size: 32px;
                font-family: 'Poppins';
                margin-left: 20px;
  
            }
            p {
              margin-top: 50px;
              font-size: 14px;
              font-family: 'Poppins';
  
            }
          }
  
          .product__view--more {
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
  
            &:hover {
              .view__more--block {
                width: 140px;
                height: 80px;
              }
            }
  
            .view__more--block {
              width: 10px;
              height: 15px;
              position: absolute;
              background: #3a3939;
              z-index: 1;
              transition: cubic-bezier(0.68, -0.55, .27, 01.55) 320ms;
            }
            a {
              font-size: 12px;
              text-transform: uppercase;
              letter-spacing: 2px;
              display: flex;
              z-index: 2;
              margin-left: 15px;
                 font-family: 'Poppins';
                 margin-bottom: 5px;
                 text-decoration: none;
                 color: #f6f6f6;
  
            }
          }
        }
      }
  
      .product_buttons {
        width: 500px;
        height: 100px;
        bottom: 50px;
        right: -50px;
        position: absolute;
  
        .btn {
          width: 240px;
          height: 70%;
          font-size: 16px;
          font-weight: bold;
          font-family: 'Poppins';
          -webkit-transition: ease-in-out 220ms;
          -moz-transition: ease-in-out 220ms;
          -ms-transition: ease-in-out 220ms;
          -o-transition: ease-in-out 220ms;
          transition: ease-in-out 220ms;
          cursor: pointer;
        }
  
        .wishlist {
          border: 2px solid #353434;
          background:transparent;
          color: #1f1d1e;
          position: absolute;
          bottom: -25px;
          left: 0;
          opacity: 0;
          animation: fadeWish 1s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 1s;
  
          &:hover {
            background: #3f3e3f;
            color: #FFF;
            box-shadow: 0 0 26px #2c2b2c;
          }
        }
  
        .buy {
          border: none;
          background: #474647;
          color: #FFF;
          position: absolute;
          right: 0;
          bottom: 0;
          opacity: 0;
          animation: fadeBuy 1s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 1s;
  
          &:hover {
            box-shadow: 0 0 26px #474646;
          }
        }
      }
    

  
  /*
    keyframes
   */
  
  @keyframes openBox {
    0% {
      width: 0px;
      left: 15%;
    }
    100% {
      width: 900px;
      left: 15%;
    }
  }
  
  @keyframes fadeImg {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes upVideo {
    0% {
      opacity: 0;
      bottom: -20px;
    }
    100% {
      opacity: 1;
      bottom: 0px;
    }
  }
  
  @keyframes showDisc {
    0% {
      width: 0px;
      left: 450px;
    }
    100% {
      width: 500px;
      left: 450px;
    }
  }
  
  @keyframes fadeContent {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeWish {
    0% {
      opacity: 0;
      bottom: -25px;
    }
    100% {
      opacity: 1;
      bottom: 0;
    }
  }
  
  @keyframes fadeBuy {
    0% {
      opacity: 0;
      bottom: -25px;
    }
    100% {
      opacity: 1;
      bottom: 0;
    }
  }
  
  
  
  
  @keyframes top {
    0% {
      opacity: 0;
       bottom: -80px
    }
    100% {
      opacity: 1;
       bottom: 0px
  
    }
  }
  
  @keyframes icon {
    0% {
      opacity: 0;
       transform: scale(0.0);
    }
     50% {
        opacity: 1;
       transform: scale(1.3) rotate(-02deg);
        
     }
    100% {
      opacity: 1;
       bottom: 0px;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
